.main_containar{
    /* border: 1px solid black; */
    /* height: 100vh; */
    padding: 50px 170px;
}

.heading_one{
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bolder;
}
.desc{
    font-size: small;
    margin-bottom: 10px;
}
@media(max-width: 1120px){
    .main_containar{
        padding: 50px 150px;
    }
}
@media(max-width: 1100px){
    .main_containar{
        padding: 50px 130px;
    }
}
@media(max-width: 1030px){
    .main_containar{
        padding: 50px 110px;
    }
}
@media(max-width: 950px){
    .main_containar{
        padding: 50px 90px;
    }
}
@media(max-width: 900px){
    .main_containar{
        padding: 50px 70px;
    }
}
@media(max-width: 850px){
    .heading_one{
        font-size: 23px;
    }
}
@media(max-width: 750px){
    .main_containar{
        padding: 50px 50px;
    }
}
@media(max-width: 700px){
    .main_containar{
        padding: 50px 30px;
    }
    .heading_one{
        font-size: 20px;
    }
}
@media(max-width: 500px){
    .main_containar{
        padding: 50px 20px;
    }
    .desc{
        font-size: 11px;
    }
    .pera{
        font-size: 12px;
    }
}
@media(max-width: 450px){
    .heading_one{
        font-size: 17px;
    }
}
@media(max-width: 400px){
    .heading_one{
        font-size: 15px;
    }
    .desc{
        font-size: 10px;
    }
}
.per{
    color: red;
}