
.bg_img_container {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    background-color: rgba(35, 45, 57, 0.8);
  }
  
  
  .bg_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; 
  }
  
  .navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
  }
  .blog_word {
    color: rgb(0, 0, 0);
  }
  .logo_div {
    padding: 10px;
    font-size: 33px;
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .ul {
    display: flex;
    gap: 30px;
    font-family: monospace;
    font-size: 17px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .li_Link:hover {
    color: rgb(255, 0, 0);
    transition: color 0.3s ease;
    text-decoration: underline;
  }
  .li_Link:focus {
    color: rgb(223, 0, 0);
    transition: color 0.3s ease;
  }
  
  .content {
    position: relative;
    margin-top: 20px;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    height: 100%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
  }
  .heading_one {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .heading_two {
    font-size: 40px;
    font-weight: bolder;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  @media (max-width: 850px) {
    .ul_div {
      display: none;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      padding: 3px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #ffffffb2;
      transition: ease-in-out 0.6s;
      backdrop-filter: blur(6px);
    }
    .li_Link {
      padding: 6px;
      font-size: 15px;
      color: black;
    }
    .li_Link:hover {
      color: #ff0000;
      background: #00000010;
      transition: background 0.4s ease-in-out;
    }
    .ul {
      flex-direction: column;
      backdrop-filter: blur(4px);
      padding: 30;
      text-align: center;
      padding: 40px 10px;
    }
    .menu_open {
      display: flex;
      transition: ease-in-out 0.4s;
      transition: display 0.5s;
    }
  
    .hamburger {
      display: block;
    }
    .navbar {
      background-color: rgba(255, 255, 255, 0.753);
      transition: background 0.8s;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.705);
    }
    .blog_word {
      color: rgb(0, 0, 0);
      transition: color 0.4s;
    }
  }
  @media (max-width: 615px) {
    .heading_two {
      font-size: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .navbar {
      justify-content: space-between;
      padding: 5px 10px;
    }
  }
  
  @media (max-width: 400px) {
    .logo_div {
      font-size: 28px;
    }
    .heading_two {
      font-size: 30px;
    }
  }
  @media (max-width: 402px) {
    .ul_div {
      top: 73px;
    }
  }
  